@model Stand.Models.IndexViewModel
@{
    ViewBag.Title = "Gerir Conta";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @(Model.HasPassword ? Html.ActionLink("Mudar palavra pass", "ChangePassword") 
                : Html.ActionLink("escolha uma palavra pass", "SetPassword"))
        </p>
        <p>
            Phone Number: @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Mudar", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Eliminar", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Adicionar", "AddPhoneNumber")
            }
            ]
        </p>
        <p>
            External Logins: @Model.Logins.Count
            @Html.ActionLink("[Manage]", "ManageLogins")
        </p>
        @if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTFA", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                 @Html.AntiForgeryToken()
                 <p>
                     
                     <input type="submit" value="Disable" class="btn btn-default"/>
                 </p>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTFA", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <p>
                    
                    <input type="submit" value="Enable" class="btn btn-default"/>
                </p>
            }
        }
        @if (Model.BrowserRemembered)
        {
            using (Html.BeginForm("Esquecer Browser", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <p>
                    
                    <input type="submit" value="Forget Browser" class="btn btn-default" />
                </p>
            }
        }
        else
        {
            using (Html.BeginForm("Lembrar Browser", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <p>
                    
                    <input type="submit" value="Remember Browser" class="btn btn-default"/>
                </p>
            }
        }
    </div>
</div>
