@model Stand.Models.Compras

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Tem a certeza de que quer Eliminar?</h3>
<div>
    <h4>Compras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stand.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stand.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Viatura.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viatura.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeStand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeStand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCombustivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCombustivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdStand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdStand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
